/*the first box*/
/*texts*/
* {
    font-family: 'Courier New', Courier, monospace;
}

.hero_main_text {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
    margin: 10px;
    ;
}

.secondary_text {
    font-size: 18px;
    color: #e5e7eb;
}

.header_logo_text {
    font-size: 24px;
    color: #f9faf8;
    
}

.quote-area-text {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    border: 100px;
}

.quote-area-quoter {
    float: right;
    margin-right: 30px;
}

.white_header_text {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1f2937;
}



/*box colors*/
body {
    margin: 0px;
}

.content-area {
    background: #1f2937;
    display: flex;
    flex-direction: column;
}

.header-area {
    background: #1f2937;
}

.awesome-area {
    background: #1f2937;
}

.info-area {
    background: #f9faf8;
    
}

.quote-area {
    background: #e5e7eb;
    
}

.ad-area {
    background: #f9faf8;
    
}

.footer-area {
    background: #1f2937;
    
}

/*box builds*/
#headerbox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center
}
#box1 {
    
    
}
#box2 {
    margin-left: auto;
}

#websiteawesome {
    display: flex;
    flex-direction: row;
    margin-left: 300px;
    margin-right: 300px;
    padding: 20px;
}

.pallas_cat_photo {
    width: 489;
    height: 325;
    border-radius: 20px;
    display: flex;
}

.sign_up_button {
    background-color: #3882f6;
    color: #f9faf8;
    height: 10px;
    width: 70px;
    padding: 15px;
    display: inline;
    border-radius: 10px;

}

.info-area h1 {
    text-align: center;
    padding: 40px;
}

div .pictures {
    border: 5px solid #3882f6;
    margin: 20px;
    height: 200px;
    width: 200px;
    border-radius: 10px;
    object-fit: cover;


}

.pictures-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

}

.description {
    text-align: center;
    padding-bottom: 30px;
}

.ad-area-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #3882f6;
    padding-top: 30px;
    padding-bottom: 30px;
    border: 30px;
    margin: 80px;
    border-radius: 10px;
}

.ad-sign-up-button {
    height: 15px;
    width: 90px;
    background-color: #3882f6;
    padding: 20px;
    border: solid 5px #f9faf8;
    border-radius: 10px;
    margin: 5px;
    

}

.footer-text {
    font-size: 18px;
    color: #e5e7eb;
    text-align: center;
    
}